body {
    background-color: #bdbebd;
}

.movie-card {
  min-height: 50rem; /* garante altura mínima */
  display: flex;
  flex-direction: column;
}

.card-img-fixed {
  width: 100%;
  height: 460px;      /* define a altura padrão */
  object-fit: cover;  /* recorta mantendo proporção */
}